body{
  text-align: center;
}
.label{

}
button {
  color: black;
  background-color:blue;
  padding: 3px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  width: 30%;
  font-size: 30px
}

button:hover{
  background-color: green;
  color: white;
  transition-duration: 0.1s;
}

